html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: "Coda", cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    transform: rotateY(0deg);
    transition-duration: 1000ms;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 33px;
    color: #2e3d49;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card i {
    transition-property: visibility;
    transition-delay: 150ms;
    visibility: hidden;
}
.deck .card.show i,
.deck .card.match i {
    visibility: visible;
}

.deck .card.open {
    transform: rotateY(180deg);
    transition-duration: 1000ms;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    color: #ffffff;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    color: #ffffff;
    font-size: 33px;
}

#incorrect {
    background: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-size: 1.25em;
    width: 345px;
    margin-bottom: 10px;
}

span {
    color: green;
    font-size: 1.3em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    color: green;
    font-size: 28px;
    cursor: pointer;
}
.moves,
.seconds {
    font-family: monospace;
}

.modal-background {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    overflow: auto;
    background-color: rgba(46, 61, 73, 0.3);
}

.modal-message {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
}

.close {
    color: black;
    float: right;
    font-size: 48px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 536px) {
    .deck {
        width: 310px;
        min-height: 320px;
        padding: 16px;
    }

    .score-panel {
        width: 280px;
    }

    .deck .card {
        width: 64.5px;
        height: 64.5px;
    }
}
@media screen and (min-width: 537px) and (max-width: 760px) {
    .deck {
        width: 495px;
        min-height: 495px;
        padding: 24px;
    }

    .deck .card {
        width: 93.75px;
        height: 93.75px;
    }
}
